name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm turbo run lint
      - name: Test
        run: pnpm turbo run test
      - name: Build
        run: pnpm turbo run build
